@mixin xlsize {
	@media screen and (min-width: 1499px) {
		@content;
	}
}

@mixin lgsize {
	@media screen and (min-width: 1199px) {
		@content;
	}
}

@mixin mdsize {
	@media screen and (min-width: 991px) {
		@content;
	}
}

@mixin smsize {
	@media screen and (min-width: 767px) {
		@content;
	}
}

@mixin xssize {
	@media screen and (min-width: 575px) {
		@content;
	}
}
