<template lang="pug">
  .img-pastelka
    .img-overflow
      client-only
        b-img(v-img:group fluid-grow v-bind="{ ...$attrs, ...$props}" :src="`${$attrs.src}.jpg`")
</template>

<script>
export default {
  name: 'BImgShow',
  data () {
    return {
      loaded: false,
    }
  },
  mounted () {
    this.loaded = true
  },
}
</script>

<style lang="scss">
.img-pastelka {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  max-width: 100%;

  .img-overflow {
    height: 235px;
    overflow: hidden;

    .img-fluid {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}
</style>
