<template lang="pug">
.root
  b-row
    .contact-form-main
      p Rádi vám připravíme program na míru.
      b-button(@click="showForm = !showForm" variant="success").mx-auto Poslat poptávku

  b-row
    transition(name="fade")
      b-col(sm="8" v-if="showForm === true").wrapper
        b-form(@submit.prevent="submit")
          h3 Poslat zprávu
          b-row
            b-col(md="6")
              b-form-input(v-model="formular.email" type="email" placeholder="Email" required)
            b-col(md="6")
              b-form-input(v-model="formular.misto" type="text" placeholder="Místo konání" required)
          b-row
            b-col
              b-form-textarea(v-model="formular.text" placeholder="Vaše zpráva" :rows="10" no-resize required)
              b-form-checkbox(v-model="formular.gdpr") Souhlasím s
                a(href="javascript:void(0)" @click="showPodminkyModal = true")  podmínkami
                |  zpracování mých osobních údajů

              .messages.mt-2
                b-alert(:show="success" variant="success") Vaše zpráva byla úspěšně odeslána.
                b-alert(:show="error" variant="danger") Při odesílání zprávy došlo k chybě, zkuste to prosím za chvíli.

              b-button(type="submit" variant="success" :disabled="!formular.gdpr") Odeslat
                i.icon-repeat(v-if="spinner")
                span.glyphicon.glyphicon-cog

    b-modal(v-model="showPodminkyModal" size="lg" hide-footer)
      div(v-html="gdpr")
</template>

<script>
import { gdpr } from '@/assets/gdpr.js'

export default {
  data () {
    return {
      gdpr,
      showPodminkyModal: false,
      spinner: false,
      success: false,
      error: false,
      showForm: false,
      formular: {
        misto: null,
        email: null,
        text: null,
        gdpr: false,
      }
    }
  },
  watch: {
    '$route' () {
      this.handleRouteChange()
    },
  },
  mounted () {
    this.handleRouteChange()
  },
  methods: {
    handleRouteChange () {
      // snad to nikdo nikdy nebude číst
      const path = this.$route.path
      const nicerizenPath = path.split('/')[path.split('/').length - 1].split('-').join(' ')
      const items = this.$store.state.kamaradi.concat(this.$store.state.nabidka)
      const predmet = items.find(e => e.normalize('NFD').replace(/[\u0300-\u036f]/g, '').toLowerCase() === nicerizenPath)

      if (nicerizenPath !== null && nicerizenPath !== '') {
        this.formular.predmet = predmet
      }
    },
    submit () {
      this.spinner = true
      const formData = new FormData()
      formData.append('misto', this.formular.misto)
      formData.append('email', this.formular.email)
      formData.append('text', this.formular.text)
      formData.append('subject', this.$route.fullPath)

      this.$axios.post(`/postForm.php`, formData)
        .then(() => {
          this.formular = {
            misto: null,
            email: null,
            text: null,
            gdpr: false,
          }

          this.success = true
        })
        .catch(() => {
          this.error = true
        })
        .finally(() => {
          this.spinner = false
        })
    }
  }
}
</script>

<style lang="scss">
@import "assets/scss/variables";
@import "assets/scss/mixins";

.contact-form-main {
  margin-left: auto;
  margin-right: auto;
}

.root {
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.form-control {
  margin-bottom: 20px;
}

.wrapper {
  padding: 2rem;
  margin: auto;

  h3 {
    font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: #526488;
    word-spacing: 5px;
    padding-bottom: 15px;
  }
}

.btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active, .show > .btn-success.dropdown-toggle {
  background-color: $clr-primary !important;
  border-color: $clr-primary !important;
}

.btn-success:focus, .btn-success.focus {
  box-shadow: 0 0 0 0.2rem rgba(235, 0, 151, 0.5) !important;
}

.btn-success {
  background-color: $clr-primary !important;
  border-color: $clr-primary !important;

  &.disabled {
    background-color: $clr-primary-disabled;
    border-color: $clr-primary-disabled;
  }

  &:hover {
    background-color: $clr-primary-hover;
    border-color: $clr-primary-hover;
  }
}
</style>
