<template lang="pug">
  b-container.gallery-root
    b-row(v-for="q in items" :key="`q-${Math.random()}`")

      // TODO: handle if length of col is not 3
      b-col(v-if="q.length <= 1" cols="12" md="4").pt-4

      b-col(v-for="item in q" :key="item.src" cols="12" md="4").pt-4
        b-img-show(:src="item.src" :alt="item.alt")

      // TODO: handle if length of col is not 3
      b-col(v-if="q.length <= 2" cols="12" md="4").pt-4
</template>

<script>
export default {
  name: 'Gallery',
  props: {
    imageString: {
      required: true,
      type: String,
    },
    numberOfImages: {
      default: 0,
      type: Number,
    },
    colNumber: {
      type: Number,
      default: 3,
    },
  },
  computed: {
    imageStringAddress () {
      let item = this.imageString.trim().toLowerCase().split(' ').join('-') // removing uppercase first letter, spaces
      item = item.normalize('NFD').replace(/[\u0300-\u036f]/g, '') // removing diacritics
      return item
    },
    items () {
      const output = []
      for (let i = 0; i < (this.numberOfImages / this.colNumber); i++) {
        const col = []

        for (let q = 1; q < this.colNumber + 1; q++) {
          const imgNumber = (i * this.colNumber) + q

          if (imgNumber < this.numberOfImages + 1) {
            col.push({
              alt: this.imageString,
              src: `/fotky/${this.imageStringAddress}/a (${imgNumber})`,
            })
          }
        }

        output.push(col)
      }

      return output
    }
  },
}
</script>

<style scoped>
.gallery-root {
  background: transparent;
}
</style>
