<template lang="pug">
  .row(:class="{ small: small }")
    .col.col-circle(v-for="item in items")
      nuxt-link.circle(:to="`/${path}/${transform(item)}`" :style="`background-image: url('/fotky/${transform(item)}/uvodni.jpg');`")
        .circle-text {{ item }}
</template>

<script>
export default {
  props: {
    small: {
      type: Boolean,
      default: false
    },
    items: {
      type: Array,
      required: true
    },
    path: {
      type: String,
      required: true
    }
  },
  methods: {
    transform (item) {
      item = item.trim().toLowerCase().split(' ').join('-') // removing uppercase first letter, spaces
      item = item.normalize('NFD').replace(/[\u0300-\u036f]/g, '') // removing diacritics
      return item
    },
  },
}
</script>

<style lang="scss" scoped>
@import "assets/scss/variables";

.row.small {
  // background-color: white;
  margin: 0;
  padding: 5px;
}

.col-circle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-color: $clr-primary;
  background-size: auto 100%;
  border: 4px solid $clr-primary;
  margin: 20px;
  cursor: pointer;
  transition: background-size .5s linear;
  background-position: center center;

  &:hover {
    transition: background-size .5s linear;
    background-size: auto 110%;

    .circle-text {
      transition: bottom .5s linear;
      bottom: 0px;
    }
  }

  & .circle-text {
    background-color: white;
    padding: 10px;
    bottom: 30px;
    position: absolute;
    box-shadow: 5px 5px 5px #6662;
    left: 0;
    right: 0;
    margin-left: 1rem;
    margin-right: 1rem;
    transition: bottom .5s linear;
    font-size: 20px;
    color: $clr-primary;
    font-weight: 700;
    max-width: 250px;
    margin: auto;
  }
}

.small .col-circle {
  padding: 0;
  margin: 5px;

  .circle {
    width: 130px;
    height: 130px;
    margin: 30px;

    & .circle-text {
      padding: 5px;
      bottom: 30px;
      position: absolute;
      transition: bottom .5s linear;
      font-size: 15px;
      font-weight: 500;
      margin: 0 5px;
      max-width: 200px;
      margin: auto;
    }

    &:hover {
      transition: background-size .5s linear;
      background-size: auto 110%;

      .circle-text {
        transition: bottom .5s linear;
        bottom: 5px;
      }
    }
  }
}

.circle.disabled {
  pointer-events: none;
  background-color: gray;
  border-color: gray;

  .circle-text {
    color: gray;
  }
}

</style>
