<template lang="pug">
  div
    .block
      h2 Holandský billiard
      p Nabízíme Vám k pronájmu holandský billiard, a to včetně obsluhy, dopravy nebo organizace turnaje. Holandský billiard je vhodné pro firemní akce, programy pro děti, rodinné oslavy, soukromé párty a svatby.
      p Holandský billiard - pravidla
      .temporary-ul-li
        span • Velice chytlavá dřevěná hra, ve které rozhoduje přesná muška a cit v ruce
        span • Cílem hry je získat během 3. kol co nejvíce bodů pomocí puků, kterými se hráč trefuje do 4 slotů (otvorů či branek). Ty jsou hodnoceny 1,2,3 a 4 body.
        span • Hráč se snaží překonat svůj rekord nebo výsledek soupeřů
        span • Obvykle hraje 1 hráč, ale dalším variacím a nápaditosti se meze nekladou
        span • Hra se dá využít k pořádání turnajů, soutěží, zábavě s přáteli, relaxaci
        span • Při hře se nejen pobavíte, ale procvičíte si přesnost, taktiku a soustředění
        span • Zábava pro každého (děti i dospělé, zdravotně handicapované,..)
        span • Nepotřebujete soupeře, touha překonat vlastní rekord často k hodinovému hraní stačí
        span • Holandský billiard zaujme – je originální, divácky atraktivní a snadný k pochopení

      contact-form
      gallery(:imageString="title" :numberOfImages="4")
</template>

<script>
import contactForm from '@/components/contact-form.vue'

export default {
  components: {
    contactForm,
  },
  layout () {
    return 'nabidka'
  },
  data () {
    return {
      title: 'Holandský billiard',
    }
  },
  head () {
    return {
      title: this.title,
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
