<template lang="pug">
  div
    .block
      h1 Kamarádi
      nabidka(:items="items" path="kamaradi")
</template>

<script>
import nabidka from '@/components/nabidka.vue'

export default {
  components: {
    nabidka
  },
  computed: {
    items () {
      return this.$store.state.kamaradi
    }
  },
  head () {
    return {
      title: 'Kamarádi',
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
