<template lang="pug">
  div
    .block
      h2 Kouzelnický workshop pro děti
      p Kouzelnický workshop, při kterém se děti naučí mnoho jednoduchých a efektních kouzel (létající kouzelnická hůlka, kouzelná láhev, zmizení a objevení mince, jednoduché triky s gumičkami, kouzla s provazy a šátky atd..).
      p Kouzelnický workshop standardně probíhá po skupinkách několika dětí, které se v průběhu akce střídají. Workshop je vhodný jako doplněk ke kouzelnickému vystoupení a je často využívaný na  dětských akcích, kde probíhají soutěže a dílničky.
      p Délka kouzelnického workshopu: 30 - 120 minut. Nebo dle dohody.

      contact-form
      gallery(:imageString="title" :numberOfImages="4")
</template>

<script>
import contactForm from '@/components/contact-form.vue'

export default {
  components: {
    contactForm,
  },
  layout () {
    return 'nabidka'
  },
  data () {
    return {
      title: 'Kouzelnický workshop pro děti',
    }
  },
  head () {
    return {
      title: this.title,
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
