<template lang="pug">
  div
    .block
      h2 Kouzelnické vystoupení mistra ČR
      p Moderní a nejžádanější kouzelnické vystoupení, při kterém se diváci mohou těšit na neuvěřitelné iluze a kouzla, které jsou jediného druhu v České republice. Strhující kouzelnické vystoupení je prováděná za doprovodu moderní hudby s přesně načasovanými hudebními efekty a dokonalou choreografií. Tento program byl na mistrovství České republiky oceněn prvním místem ve své kategorii a titulem mistra České republiky v moderní magii.
      p Garantujeme Vám mistrovsky zvládnuté předvedení tohoto vystoupení a jistotu,  že se Vaši hosté budou skvěle bavit. Klademe důraz na originalitu a profesionalitu. Stejně jako všechny naše kouzla, jsou vystoupení předváděna moderní formou a diváci mají neuvěřitelný zážitek plný vzpomínek.
      p Délka programu: 20 minut. Nebo dle dohody.

      contact-form
      gallery(:imageString="title" :numberOfImages="7")
</template>

<script>
import contactForm from '@/components/contact-form.vue'

export default {
  components: {
    contactForm,
  },
  layout () {
    return 'nabidka'
  },
  data () {
    return {
      title: 'Kouzelnické vystoupení mistra ČR',
    }
  },
  head () {
    return {
      title: this.title,
    }
  }
}
</script>
