<template lang="pug">
  div
    .block
      h2 Laserová střelnice
      p Projekční laserová střelnice je elektronický střelecký simulátor. Zprostředkuje Vám radost ze střelby v bezpečném a pohodlném prostředí. Střelci střílí realistickými zbraněmi na hry promítající se na velkou projekční plochu. Použitím moderní elektroniky, laserové a počítačové technologie je dosaženo reálného požitku ze střelby.
      p Laserová střelnice je interaktivní a zábavná atrakce vhodná na firemní večírky, plesy a společenské akce. Laserová střelnice je vhodná pro všechny věkové kategorie a bude skvělým zážitkem Vaší akce. Po domluvě je možné zajistit organizovanou soutěž pro Vaše hosty.
      .temporary-ul-li
        span • Dvakrát zbraň včetně pistole.
        span • Projektor, kamera a plátno.
        span • Organizace soutěží na vyžádání klienta.
        span • Profesionální obsluha.
        span • Délka 4-5 hodin. Nebo dle dohody.
      p Technické požadavky: Minimální prostor 3×2 metry volného prostoru.

      contact-form
      gallery(:imageString="title" :numberOfImages="5")
</template>

<script>
import contactForm from '@/components/contact-form.vue'

export default {
  components: {
    contactForm,
  },
  layout () {
    return 'nabidka'
  },
  data () {
    return {
      title: 'Laserová střelnice',
    }
  },
  head () {
    return {
      title: this.title,
    }
  }
}
</script>
