<template lang="pug">
  div
    .block
      h2 Lukostřelba
      p Lukostřelba je krásný sport, se kterým můžete začít kdykoliv. Dříve historická zbraň, dnes moderní sportovní disciplína, kterou máte možnost s námi vyzkoušet, případně se porovnat s ostatními při lukostřeleckém turnaji. Potřebujete jen chuť soutěžit a přesnou mušku.
      p Bezpečnost je u nás na prvním místě. Vámi vybrané místo si naši trenéři prohlédnou a připraví tak, aby splňovalo bezpečnostní pravidla. Máme luky pro dospělé, ale tak i pro děti.
      p Délka lukostřelby: 4-5 hodin nebo dle dohody.

      contact-form
      gallery(:imageString="title" :numberOfImages="4")
</template>

<script>
import contactForm from '@/components/contact-form.vue'

export default {
  components: {
    contactForm,
  },
  layout () {
    return 'nabidka'
  },
  data () {
    return {
      title: 'Lukostřelba',
    }
  },
  head () {
    return {
      title: this.title,
    }
  }
}
</script>
