<template lang="pug">
  div
    .block
      h2 Mikromagie mistra ČR
      p Neuvěřitelná a originální mikromagie v podáni mistra České republiky, při které je kouzelník u stolu nebo prochází v průběhu večera mezi hosty a provádí nejrůznější kouzla přímo před Vašimi zraky a v těsné blízkosti. Diváci jsou do mikromagie zapojeni a mají pocit, že vidí skutečná kouzla.
      p Mikromagie nemá žádné omezení a může trvat celý večer. Nepotřebujete žádné pódium, ani jeviště, mikromagie jde předvádět v jakémkoliv prostoru. Při mikromagii se ohýbají kovové předměty, nechávají se mizet věci a objevují se na překvapivých místech, kouzla s penězi, žetony a kartami. Kouzla jsou předváděna moderní formou a diváci mají neuvěřitelný zážitek plný vzpomínek.
      p Délka mikromagie: 60-180 minut. Nebo dle dohody.

      contact-form
      gallery(:imageString="title" :numberOfImages="6")
</template>

<script>
import contactForm from '@/components/contact-form.vue'

export default {
  components: {
    contactForm,
  },
  layout () {
    return 'nabidka'
  },
  data () {
    return {
      title: 'Mikromagie mistra ČR',
    }
  },
  head () {
    return {
      title: this.title,
    }
  }
}
</script>
