<template lang="pug">
  div
    .block
      h2 Moderní magická show
      p Některá kouzla jsou doplněna pyrotechnickými efekty, které dodávají programu vysokou úroveň a gradaci. Magic show je možné předvádět i ve venkovních prostorech a lze ho upravit na míru tak, aby vyhovoval technickým možnostem a představám klienta.
      p Délka magic show: 20 minut.
      p Program lze předvádět v jakémkoli prostoru a bez jakýchkoli úprav tohoto prostoru. Působnost po celé ČR a SR.

      contact-form
      gallery(:imageString="title" :numberOfImages="4")
</template>

<script>
import contactForm from '@/components/contact-form.vue'

export default {
  components: {
    contactForm,
  },
  layout () {
    return 'nabidka'
  },
  data () {
    return {
      title: 'Moderní magická show',
    }
  },
  head () {
    return {
      title: this.title,
    }
  }
}
</script>
