<template lang="pug">
  .container.default-root
    .main-hero
      .right-items
        a(href="https://www.facebook.com/klaunskevystoupeni/" rel="noreferrer" target="_blank" aria-label="můj facebook")
          i.icon-facebook2
        a(href="https://www.instagram.com/klaunkapastelka/" rel="noreferrer" target="_blank" aria-label="můj instagram")
          i.icon-instagram

      img(src="/logo.png" @click="$router.push('/')" alt="Klaunka pastelka").main-logo
    div
      b-nav(fill)
        b-nav-item(to="/" :active="isActive('/')") Kdo jsem?
        b-nav-item(to="/nabidka" :active="isActive('nabidka')") Nabídka
        b-nav-item(to="/kamaradi" :active="isActive('kamaradi')") Kamarádi
        b-nav-item(to="/kontakt" :active="isActive('kontakt')") Kontakt

    slot
      nuxt

    .binaro Design and Code by
      a(href="https://www.binaro.cz")  binaro.cz
</template>

<script>
export default {
  methods: {
    isActive (page) {
      return this.$route.path.includes(page)
    }
  },
  head () {
    return {
      titleTemplate: `%s - Klaunka Pastelka`,
      title: 'Klaunka Pastelka',
    }
  }
}
</script>

<style lang="scss">
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
@import "assets/scss/variables";
@import "assets/scss/mixins";

.binaro {
  padding: 10px;
}

.main-logo {
  cursor: pointer;
}

.default-root {
  min-height: 75vh;
  padding: 0;
}

h1 {
  text-align: center;
  font-family: 'Indie Flower', cursive;
  display: block;
  font-weight: 300;
  font-size: 50px !important;
  color: $clr-primary;
  letter-spacing: 1px;
  margin-top: 2rem;

  @include xssize {
    font-size: 70px !important;
  }
}

h2 {
  font-weight: 400;
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 36px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

h3 {
  font-weight: 300;
  margin-top: 30px;
}

.block {
  padding: 2rem;
  padding-top: 2rem;
  background: linear-gradient(0deg, transparent 80%, rgba(255,255,255,1) 100%);

  p {
    font-size: 19px;
  }

  .temporary-ul-li {
    display: flex;
    flex-flow: column;
    font-size: 19px;
    margin: auto;
    padding: 20px;

    span {
      text-align: center;
    }
  }
}

.container {
  margin: 2rem auto;
  text-align: center;
  background: rgba(255, 255, 255, 0.9);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.85) 80%, rgba(255, 255, 255, 0.0) 100%);
  padding: 0;
  border-radius: .5rem;
}

.main-hero {
  display: flex;
  flex-flow: column;
  padding: 1rem;
  background-color: rgb(241, 192, 241);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(220,171,233,1) 100%);

  img {
    width: 85%;
    margin: auto;
    margin-top: 50px;
  }

  @include xssize {
    img {
      width: 50%;
      margin-top: 0;
    }
  }
}

.right-items {
  margin-left: auto;
  display: flex;
  font-size: 1.6rem;
  position: absolute;

  & i {
    padding: 0.5rem;
  }
}

.nav {
  background-color: white;
}

.nav-item {
  color: $clr-primary;
  font-family: 'Indie Flower', cursive;

  .nav-link {
    font-size: 2rem;
    color: $clr-primary;
    margin-right: 10px;
    border-bottom: 5px solid white;
    padding: 0;

    @include xssize {
      padding: 0.5rem 1rem;
    }

    &:hover {
      font-size: 900;
      border-color: $clr-primary;
    }
  }
}

.dropdown-menu {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 1.2rem;
  min-width: 100%;

  .dropdown-item.active, .dropdown-item:active {
    background-color: $clr-primary;
  }

  .dropdown-item:hover {
    background-color: #e7cceb;
  }
}

a:hover {
  color: white;
}

html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

body {
  background: linear-gradient(0deg, rgba(220,171,233,1) 0%, rgba(255,255,255,1) 100%);
  background-image: url('/pencils.png');
  background-repeat: repeat-x;
  background-position: bottom center;
  background-attachment: fixed;

  a {
    color: $clr-primary;

    &:hover {
      text-decoration: none;
    }
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

</style>
