<template lang="pug">
  div
    h2.p-5 Takovou stránku nemůžu najít :(
</template>

<script>
import defaultLayout from '@/layouts/default.vue'

export default {
  components: {
    defaultLayout
  }
}
</script>

<style lang="scss">

</style>
