<template lang="pug">
  defaultLayout
    nuxt
    nabidka(:small="true" :items="items" :path="path")
</template>

<script>
import nabidka from '@/components/nabidka.vue'
import defaultLayout from '@/layouts/default.vue'

export default {
  components: {
    defaultLayout,
    nabidka
  },
  computed: {
    items () {
      const nabidka = this.$store.state.nabidka
      const kamaradi = this.$store.state.kamaradi
      return this.$route.path.includes('nabidka') ? nabidka : kamaradi
    },
    path () {
      return this.$route.path.includes('nabidka') ? 'nabidka' : 'kamaradi'
    }
  }
}
</script>

<style lang="scss">

</style>
