<template lang="pug">
  div
    client-only
      b-carousel#carousel-fade(style='text-shadow: 0px 0px 2px #000' fade indicators img-width='1024' img-height='480')
        b-carousel-slide(v-for="i in 3" :img-src="`/fotky/uvod-${i}.jpg`" :img-alt="`obrázek posuvníku ${i}`" :key="i")

    .block
      h1 Vítejte u Pastelky!
      h2 S dětmi řádíme už od roku 2014.
      p Pastelka je moderní klaun, který vás překvapí nejen pestrostí svého kostýmu, ale především svými tanečními kreacemi.
      p Děti si zatancují na moderní písničky od hvězd jako je Shakira, Lady Gaga, Enrique Iglesias a mnoho dalších umělců.
        br
        | V průběhu tancování také probíhají soutěže o nejlepší tanečníky, kteří dostávají odměny v podobě nejrůznějších výtvorů z balónků.
      p Závěrem si každé dítě odnese s sebou domů dáreček v podobě zvířátek, kytiček, motorek či jiných výrobků z tvarovacích balónků.
      .temporary-ul-li Programy jsou vhodné pro jakoukoli příležitost:
        span • městské slavnosti
        span • karneval
        span • firemní večírek
        span • oslava narozenin
        span • Mikuláš
        span • Halloween
        span • pálení čarodějnic
        span • pouť
        span • a mnoho dalších
      p Tak jako pastelky nemají jenom jednu barvu, tak ani klaunka Pastelka není na děti sama a má svůj tým, který jí pomáhá.

    contact-form
</template>

<script>
import contactForm from '@/components/contact-form.vue'

export default {
  components: {
    contactForm,
  },
  head () {
    return {
      title: 'Kdo jsem?',
    }
  },
  data () {
    return {
      loaded: false,
    }
  },
  mounted () {
    this.loaded = true
  },
}
</script>

<style lang="scss" scoped>
@import "assets/scss/variables";

.links {
  padding-top: 15px;
}
</style>
