<template lang="pug">
  div
    .block
      h1 Kontakt
      p Máte nějaký dotaz? Chcete se o programech dozvědět více nebo se rovnou domluvit? Tak nás neváhejte kontaktovat.
      p
        b Veronika Folířová
        br
        i klaunkapastelka@gmail.com
        br
        span +420 773 264 118
      p Najdete nás také na Facebooku a Instagramu pod jménem Klaunka Pastelka.
      contact-form
</template>

<script>
import contactForm from '@/components/contact-form.vue'

export default {
  components: {
    contactForm,
  },
  head () {
    return {
      title: 'Kontakt',
    }
  }
}
</script>
