<template lang="pug">
  div
    .block
      h2 Balónková výzdoba
      p Na vaši oslavu narozenin zajistíme kompletní balónkovou výzdobu. Po domluvě je také možné balónky naplnit heliem. Balónky je pak možné navázat na různé místa v prostoru konání oslavy narozenin.
      .temporary-ul-li Nejčastější použití balónků při oslavě narozenin:
        span • Balónkové číslice pro narozeninovou oslavu.
        span • Balónkové dětské postavy vhodné pro dětské oslavy narozenin.
        span • Balónkové oblouky a tunely.
        span • Héliové létací balónky.
        span • Modelování balonků pro děti
    p Zajišťujeme balónkové dekorace z nafukovacích balónků v jakéhokoliv rozsahu. Balónková výzdoba pestře oživí jakoukoli oslavu narozenin a je oblíbená pro svoji jednoduchost. Výběr balónkových soch a výzdoby vždy řešíme individuálně dle požadavků.

    contact-form
</template>

<script>
import contactForm from '@/components/contact-form.vue'

export default {
  components: {
    contactForm,
  },
  layout () {
    return 'nabidka'
  },
  data () {
    return {
      title: 'Balónková výzdoba',
    }
  },
  head () {
    return {
      title: this.title,
    }
  },
}
</script>

<style lang="scss" scoped>

</style>
