<template lang="pug">
  div
    .block
      h2 Balónková show
      p Modelování balónků probíhá mezi dětmi. Umělec modeluje jednotlivé výtvory na přání každého dítěte. Tvarování probíhá přímo před nimi.  Z balónku můžeme vytvarovat nejrůznější zvířátka, květinky a různé předměty dle fantazie.  Mezi nejoblíbenější patří: pejsek, srdíčko, pirátská šavle, krokodýl, květina, šnek, medvídek, tygr, žirafa atd..
      p Modelování balónků lze udělat také formou workshopu, při kterém se děti naučí vytvarovat jednoduché a základní zvířátka.
      p Balónkovou show můžete objednat samostatně nebo jako doplnění jijých uměleckých vystoupení pro děti - kouzelník, bubble show, klaun atd... Modelování může trvat 1-6 hodin, ideální délka se určuje podle počtu dětí.
      p Během 1 hodiny modelování se vytvaruje cca 40-50 balónků.

      contact-form
      gallery(:imageString="title" :numberOfImages="12")
</template>

<script>
import contactForm from '@/components/contact-form.vue'

export default {
  components: {
    contactForm,
  },
  layout () {
    return 'nabidka'
  },
  data () {
    return {
      title: 'Balónková show',
    }
  },
  head () {
    return {
      title: this.title,
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
