<template lang="pug">
  div
    .block
      h2 Bublinkování
      p Bublinkování pro děti i dospělé je spojené s workshopem. Program je vhodný na všechny typy akcí – oslava narozenin, obecní slavnosti, firemní párty, večírek, teambuilding a další.
      p Na začátku každého interaktivního bublinkování bublinářka ukáže dětem, jak zacházet s předměty, pomocí kterých si děti i dospělí vytvoří malé nebo velké bubliny. Následně si mohou všichni přítomni vytvořit své bubliny.
      p Nejedná se o vystoupení na hudbu, které se předvádí na pódiu, ale o doprovodný animátorský program.

      contact-form
      gallery(:imageString="title" :numberOfImages="8")
</template>

<script>
import contactForm from '@/components/contact-form.vue'

export default {
  components: {
    contactForm,
  },
  layout () {
    return 'nabidka'
  },
  data () {
    return {
      title: 'Bublinkování',
    }
  },
  head () {
    return {
      title: this.title,
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
