<template lang="pug">
  div
    .block
      h1 Nabídka
      nabidka(:items="items" path="nabidka")
</template>

<script>
import nabidka from '@/components/nabidka.vue'

export default {
  components: {
    nabidka
  },
  computed: {
    items () {
      return this.$store.state.nabidka
    }
  },
  head () {
    return {
      title: 'Nabídka',
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
