<template lang="pug">
  div
    .block
      h2 Karneval
      p Nabízíme pestrý program pro vaše děti na karneval nebo maškarní ples pro děti. Na přání připravíme scénář dětského karnevalu na vámi zvolené téma.
      p Během programu klaunka zapojí všechny děti, se kterými dovádí, udělá promenádu masek, dále si zasoutěží a zatančí.  Do části programu zapojí i rodiče, jelikož i oni jsou aktivními účastníky karnevalu či maškarního plesu.
      p Po domluvě je možné na karneval nebo maškarní ples objednat vystoupení kouzelníka nebo jiný program z naší nabídky.
      p Pro tento program máme možnost zajistit kvalitní ozvučení včetně obsluhy.

      contact-form
      gallery(:imageString="title" :numberOfImages="9")
</template>

<script>
import contactForm from '@/components/contact-form.vue'

export default {
  components: {
    contactForm,
  },
  layout () {
    return 'nabidka'
  },
  data () {
    return {
      title: 'Karneval',
    }
  },
  head () {
    return {
      title: this.title,
    }
  },
}
</script>

<style lang="scss" scoped>

</style>
