<template lang="pug">
  div
    .block
      h2 Klaunský program
      p Chcete své děti zabavit například na oslavě narozenin či jiné akci? Klaunský program je pro to jako dělaný. Děti si zatancují na moderní písničky, během kterých probíhají také soutěže o nejlepší tanečníky. Pastelka si dále s dětmi zasoutěží, zablbne a na závěr si každý odnese s sebou domů dáreček z tvarovacích balónků.
      p Možnost uzpůsobit program vašim přáním dle domluvy.

      contact-form
      gallery(:imageString="title" :numberOfImages="11")
</template>

<script>
import contactForm from '@/components/contact-form.vue'

export default {
  components: {
    contactForm,
  },
  layout () {
    return 'nabidka'
  },
  data () {
    return {
      title: 'Klaunský program',
    }
  },
  head () {
    return {
      title: this.title,
    }
  },
}
</script>

<style lang="scss" scoped>

</style>
