<template lang="pug">
  div
    .block
      h2 Kreativní dílnička
      p Kreativní dílnička je určená pro děti všeho věku. Děti zde malují, stříhají, lepí, vyzkoušejí si různé techniky, a dokonce i práci s neobvyklými materiály (kamínky, plsť a další). Hotový výrobek si děti odnesou domů jako dáreček.
      p Dílničku lze tematicky zaměřit dle vašich přání. Můžeme s dětmi vyrábět velikonoční předměty, vánoční, jarní, indiánské, pohádkové a mnoho dalších.
      p Program je vhodný jako doprovodný na velkých akcích typu městské slavnosti, firemní akce a podobné.

      contact-form
      gallery(:imageString="title" :numberOfImages="10")
</template>

<script>
import contactForm from '@/components/contact-form.vue'

export default {
  components: {
    contactForm,
  },
  layout () {
    return 'nabidka'
  },
  data () {
    return {
      title: 'Kreativní dílnička',
    }
  },
  head () {
    return {
      title: this.title,
    }
  },
}
</script>

<style lang="scss" scoped>

</style>
