<template lang="pug">
  div
    .block
      h2 Malování na obličej
      p Malování na obličej (Facepainting) je velmi populární dětská aktivita, oživí nejen odpolední narozeninovou oslavu, ale také celodenní firemní akci. Malování je stále oblíbené nejen u dětí, ale také u dospělých. Ti se tak mohou vrátit do svých dětských let a spát se třeba spidermanem, nebo pirátem.
      p Rádi přijedeme za dětmi také do školek, škol či jiných školských zařízení.
      p Na zdraví vašich dětí nám záleží, proto používáme profesionální, dermatologicky testované a hypoalergení barvy značky Shazaroo. Obrázky mohou děti jednoduše smýt teplou vodou a mýdlem.
      p Facepainting můžete objednat samostatně nebo jako doplněk k jiné naší nabídce.

      contact-form
      gallery(:imageString="title" :numberOfImages="17")
</template>

<script>
import contactForm from '@/components/contact-form.vue'

export default {
  components: {
    contactForm,
  },
  layout () {
    return 'nabidka'
  },
  data () {
    return {
      title: 'Malování na obličej',
    }
  },
  head () {
    return {
      title: this.title,
    }
  },
}
</script>

<style lang="scss" scoped>

</style>
