<template lang="pug">
  div
    .block
      h2 Mikulášský program
      p Mikulášský program dovádění obsahuje tanečky na moderní písničky, úkoly se zimní tématikou, soutěže pro děti a mini diskotéku. Do programu lze zahrnout modelování balónků, rozdávání dárečků a dalších vašich přání.
      p Každý rok se připravují nové pohádkové příběhy a nové zábavné Mikulášské programy.

      contact-form
      gallery(:imageString="title" :numberOfImages="6")
</template>

<script>
import contactForm from '@/components/contact-form.vue'

export default {
  components: {
    contactForm,
  },
  layout () {
    return 'nabidka'
  },
  data () {
    return {
      title: 'Mikulášský program',
    }
  },
  head () {
    return {
      title: this.title,
    }
  },
}
</script>

<style lang="scss" scoped>

</style>
