<template lang="pug">
  div
    .block
      h2 Zavírání dětí do bublin
      p Na začátku programu se pokusíme jednotlivě děti zavírat do obrovských bublin. Děti si budou při této aktivitě připadat jako v pohádce. Bublinářka také ukáže dětem, jak dělat velké a malé bubliny pomoci různých předmětů a poté si je děti samy nebo s pomoci bublinkářky, mohou vyzkoušet také.
      p Nejedná se o vystoupení na hudbu, které se předvádí na pódiu, ale o doprovodný animátorský program.
      p Zavírat do bublin lze pouze v prostoru bez průvanu. Pokud se jedná o venkovní akci, tak doporučujeme interaktivní bublinkování pro děti, které je možné předvádět ve venkovním prostředí. Zavírání dětí do bublin není možné předvádět ve venkovním prostředí.
      p Délka programu: 30-180 minut. Nebo dle dohody.

      contact-form
      gallery(:imageString="title" :numberOfImages="9")
</template>

<script>
import contactForm from '@/components/contact-form.vue'

export default {
  components: {
    contactForm,
  },
  layout () {
    return 'nabidka'
  },
  data () {
    return {
      title: 'Zavírání do bublin',
    }
  },
  head () {
    return {
      title: this.title,
    }
  },
}
</script>

<style lang="scss" scoped>

</style>
