@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?kuwt8y');
  src:  url('fonts/icomoon.eot?kuwt8y#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?kuwt8y') format('truetype'),
    url('fonts/icomoon.woff?kuwt8y') format('woff'),
    url('fonts/icomoon.svg?kuwt8y#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-at-sign:before {
  content: "\e902";
}
.icon-at-symbol:before {
  content: "\e901";
}
.icon-at:before {
  content: "\e900";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
